---
import BaseLayout from "../layouts/BaseLayout.astro";
import PlayerCard from "../components/PlayerCard.astro";
import guildRoster from "../data/guild-roster.json" with { type: "json" };

import { getCollection } from "astro:content";

const posts = (await getCollection("news", ({ data }) => !data.draft)).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout guild="Broken Banner" page="Home">
    <div class="grid grid-cols-1 gap-8">
        <h1 class="font-header text-3xl text-text-muted">
            Top scoring players
        </h1>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {
                guildRoster.members
                    .filter(
                        (member) =>
                            member.mythic_plus_scores_by_season[0].scores
                                .all !== 0,
                    )
                    .sort(
                        (a, b) =>
                            b.mythic_plus_scores_by_season[0].scores.all -
                            a.mythic_plus_scores_by_season[0].scores.all,
                    )
                    .slice(0, 6)
                    .map((member) => (
                        <PlayerCard
                            key={member.name}
                            name={member.name}
                            playerClass={member.class}
                            playerSpec={member.active_spec_name}
                            playerRole={member.active_spec_role}
                            score={
                                member.mythic_plus_scores_by_season[0].scores
                                    .all
                            }
                            scoreColor={
                                member.mythic_plus_scores_by_season[0].segments
                                    .all.color
                            }
                        />
                    ))
            }
        </div>
    </div>
    <div class="mt-8">
        <p class="text-3xl text-text-muted font-header">Latest News</p>
        <div class="grid grid-cols-1 gap-4 mt-4">
            <ul>
                {
                    posts.map((post) => (
                        <li>
                            <a
                                class="hover:text-legendary-accent"
                                href={`/news/${post.id}`}
                            >
                                {post.data.title}
                            </a>
                            <time datetime={post.data.pubDate.toISOString()}>
                                {post.data.pubDate.toLocaleDateString()}
                            </time>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</BaseLayout>
