---
import guildRoster from "../data/guild-roster.json" with { type: "json" };

import BaseLayout from "../layouts/BaseLayout.astro";
import PlayerCard from "../components/PlayerCard.astro";
import ResourcesCard from "../components/ResourcesCard.astro";

import { Button } from "@/components/starwind/button";
import {
    Carousel,
    CarouselContent,
    CarouselItem,
    CarouselNext,
    CarouselPrevious,
} from "@/components/starwind/carousel";

import { getCollection } from "astro:content";

const resources = await getCollection("resources");

const posts = (await getCollection("news", ({ data }) => !data.draft)).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const topPlayers = guildRoster.members
    .filter((member) => member.mythic_plus_scores_by_season[0].scores.all !== 0)
    .sort(
        (a, b) =>
            b.mythic_plus_scores_by_season[0].scores.all -
            a.mythic_plus_scores_by_season[0].scores.all,
    )
    .slice(0, 6);
---

<BaseLayout guild="Broken Banner" page="Home">
    <div class="grid grid-cols-1 gap-8">
        <h1
            class="font-header text-5xl md:text-7xl text-legendary-accent text-center mt-16"
        >
            Community-first guild focused on Mythic+
        </h1>
        <p class="text-body-text text-center text-md md:text-lg">
            We come from various gaming backgrounds and walks of life, but
            confide in WoW as a passion and digital escape. It is the one game
            that always brings us back. For others, it's their newest obsession.
            Our vision is to create an atmosphere that is a safe haven for those
            who share the same passion.
        </p>
        <hr class="border border-border-accent mt-16 opacity-25" />
        <h1 class="font-header text-3xl text-text-muted mt-16 md:mt-28">
            Top scoring players
        </h1>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {
                topPlayers.map((member) => (
                    <PlayerCard
                        key={member.name}
                        name={member.name}
                        playerClass={member.class}
                        playerSpec={member.active_spec_name}
                        playerRole={member.active_spec_role}
                        score={
                            member.mythic_plus_scores_by_season[0].scores.all
                        }
                        scoreColor={
                            member.mythic_plus_scores_by_season[0].segments.all
                                .color
                        }
                    />
                ))
            }
        </div>
    </div>
    <div class="mt-8">
        <hr class="border border-border-accent mt-16 md:mt-28 opacity-25" />
        <div class="grid grid-cols-1 gap-8">
            <p class="text-3xl text-text-muted font-header mt-16 md:mt-28">
                Latest News
            </p>
            <ul>
                {
                    posts.map((post) => (
                        <li class="flex justify-between mt-4">
                            <a
                                class="hover:text-legendary-accent hover:underline text-left"
                                href={`/news/${post.id}`}
                            >
                                {post.data.title}
                            </a>
                            <time
                                class="text-text-muted hidden md:inline"
                                datetime={post.data.pubDate.toISOString()}
                            >
                                {post.data.pubDate.toLocaleDateString()}
                            </time>
                        </li>
                    ))
                }
            </ul>
            <hr class="border border-border-accent mt-16 md:mt-28 opacity-25" />
            <p class="text-3xl text-text-muted font-header mt-16 md:mt-24">
                Resources
            </p>
            <Carousel opts={{ align: "start" }} class="mx-auto w-full">
                <CarouselContent>
                    {
                        resources.map((resource) => (
                            <CarouselItem class="md:basis-1/2 lg:basis-1/4">
                                <div class="p-1">
                                    <ResourcesCard
                                        title={resource.data.title}
                                        author={resource.data.author}
                                        postUrl={`resources/${resource.id}`}
                                        description={resource.data.description}
                                        cover={resource.data.cover}
                                        coverAlt={resource.data.coverAlt}
                                        externalUrl={resource.data.externalUrl}
                                        category={resource.data.category}
                                    />
                                </div>
                            </CarouselItem>
                        ))
                    }
                </CarouselContent>
                <CarouselPrevious />
                <CarouselNext />
            </Carousel>
        </div>
    </div>
</BaseLayout>
