---
import BaseLayout from "../layouts/BaseLayout.astro";
import PlayerCard from "../components/PlayerCard.astro";
import guildRoster from "../data/guild-roster.json" with { type: "json" };
import { Button } from "@/components/starwind/button";
import {
    Carousel,
    CarouselContent,
    CarouselItem,
    CarouselNext,
    CarouselPrevious,
} from "@/components/starwind/carousel";

import ResourcesCard from "../components/ResourcesCard.astro";

// will convert to content collection

const resources = [
    {
        title: "Ellesmere UI",
        content: "A performant UI suite for WoW Midnight",
        image: "ellesmere-ui.png",
    },
    {
        title: "Archon",
        content: "Data to help you improve your performance",
    },
    {
        title: "Oak LFG Sorter",
        content:
            "A tool to help you find the right group when searching for a dungeon",
    },
    {
        title: "Ellesmere UI",
        content: "A performant UI suite for WoW Midnight",
    },
    {
        title: "Archon",
        content: "Data to help you improve your performance",
    },
    {
        title: "Oak LFG Sorter",
        content:
            "A tool to help you find the right group when searching for a dungeon",
    },
];

import { getCollection } from "astro:content";

const posts = (await getCollection("news", ({ data }) => !data.draft)).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const topPlayers = guildRoster.members
    .filter((member) => member.mythic_plus_scores_by_season[0].scores.all !== 0)
    .sort(
        (a, b) =>
            b.mythic_plus_scores_by_season[0].scores.all -
            a.mythic_plus_scores_by_season[0].scores.all,
    )
    .slice(0, 6);
---

<BaseLayout guild="Broken Banner" page="Home">
    <div class="grid grid-cols-1 gap-8">
        <h1
            class="font-header text-5xl md:text-6xl text-legendary-accent text-center mb-8"
        >
            Community-first guild focused on Mythic+
        </h1>
        <h1 class="font-header text-3xl text-text-muted">
            Top scoring players
        </h1>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {
                topPlayers.map((member) => (
                    <PlayerCard
                        key={member.name}
                        name={member.name}
                        playerClass={member.class}
                        playerSpec={member.active_spec_name}
                        playerRole={member.active_spec_role}
                        score={
                            member.mythic_plus_scores_by_season[0].scores.all
                        }
                        scoreColor={
                            member.mythic_plus_scores_by_season[0].segments.all
                                .color
                        }
                    />
                ))
            }
        </div>
    </div>
    <div class="mt-8">
        <div class="grid grid-cols-1 gap-8">
            <p class="text-3xl text-text-muted font-header mt-4">Latest News</p>
            <ul>
                {
                    posts.map((post) => (
                        <li class="flex justify-between">
                            <a
                                class="hover:text-legendary-accent text-left"
                                href={`/news/${post.id}`}
                            >
                                {post.data.title}
                            </a>
                            <time
                                class="text-text-muted"
                                datetime={post.data.pubDate.toISOString()}
                            >
                                {post.data.pubDate.toLocaleDateString()}
                            </time>
                        </li>
                    ))
                }
            </ul>
            <p class="text-3xl text-text-muted font-header mt-4">Resources</p>
            <ul>
                <Carousel opts={{ align: "start" }} class="mx-auto w-full">
                    <CarouselContent>
                        {
                            resources.map((resource) => (
                                <CarouselItem class="md:basis-1/2 lg:basis-1/4">
                                    <div class="p-1">
                                        <ResourcesCard
                                            title={resource.title}
                                            content={resource.content}
                                        />
                                    </div>
                                </CarouselItem>
                            ))
                        }
                    </CarouselContent>
                    <CarouselPrevious />
                    <CarouselNext />
                </Carousel>
            </ul>
        </div>
    </div>
</BaseLayout>
