---
import BaseLayout from "../layouts/BaseLayout.astro";
import guildRoster from "../data/guild-roster.json" with { type: "json" };
---

<BaseLayout guild="Broken Banner" page="Roster">
    <h1 class="text-3xl font-bold text-accent mb-2">
        Roster (Work in Progress)
    </h1>
    <span class="text-text-muted text-sm">Data pulled from Raider.IO</span>
    <p class="text-muted mb-8">
        {
            guildRoster.members
                .filter(
                    (member) =>
                        member.mythic_plus_scores_by_season[0].scores.all !== 0,
                )
                .map((member) => (
                    <p key={member.name}>
                        {member.name} ({member.active_spec_name} {member.class},{" "}
                        {member.active_spec_role})
                    </p>
                ))
        }
    </p>
</BaseLayout>
