---
const { name, playerClass, playerSpec, playerRole, score, scoreColor } =
    Astro.props;

const scoreColorClasses = {
    "epic-accent": {
        text: "text-epic-accent",
        border: "border-l-epic-accent",
    },
    "blue-800": {
        text: "text-blue-800",
        border: "border-l-blue-800",
    },
};

const colors = scoreColorClasses[scoreColor] ?? {
    text: "text-body-text",
    border: "border-l-border-accent",
};

import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/starwind/card";
---

<Card
    size="sm"
    class={`border-l-4 ${colors.border} mx-auto w-full max-w-sm bg-card-bg ${colors.text} ring-border-accent`}
>
    <CardHeader>
        <CardTitle><p class="text-body-text text-2xl">{name}</p></CardTitle>
        <CardDescription
            ><p class="text-text-muted">
                {playerClass} • {playerSpec} • {playerRole}
            </p></CardDescription
        >
    </CardHeader>
    <CardContent>
        <p class={`text-4xl text-${scoreColor}`}>{score}</p>
    </CardContent>
</Card>
