---
import { Card, CardContent } from "@/components/starwind/card";
import { Image } from "astro:assets";

const { title, postUrl, description, cover, coverAlt, externalUrl, category } =
    Astro.props;
---

<a href={postUrl}>
    <Card
        class="relative mx-auto w-full max-w-sm bg-card-bg border-transparent ring-border-accent"
    >
        {
            cover && (
                <Image
                    src={cover}
                    alt={coverAlt ?? title}
                    class="aspect-video w-full object-cover"
                />
            )
        }
        <CardContent class="flex flex-col justify-between text-body-text">
            <span class="text-2xl font-semibold">
                {title}
            </span>
            <ul class="text-sm">
                <li>
                    {description}
                </li>
                <li>
                    <span class="text-sm text-text-muted">
                        {category}
                    </span>
                </li>
            </ul>
        </CardContent>
    </Card>
</a>
