---
import {
    Table,
    TableHeader,
    TableHead,
    TableBody,
    TableRow,
    TableCell,
    TableCaption,
    TableFoot,
} from "@/components/starwind/table";

import {
    Tabs,
    TabsList,
    TabsTrigger,
    TabsContent,
} from "@/components/starwind/tabs";

import guildRoster from "../data/guild-roster-current.json";
import previousGuildRoster from "../data/guild-roster-weekly-snapshot.json";
import parsedData from "../data/parsed-data.json";

function getClassColor(player) {
    const playerName = guildRoster.members.find(
        (member) => member.name === player,
    );
    return CLASS_COLORS[playerName?.class] || "#FFFFFF";
}

function getRoleColor(player) {
    return ROLE_COLORS[player.active_spec_role] || "#FFFFFF";
}

const topDps = parsedData.top_players_by_role.DPS;
const topTanks = parsedData.top_players_by_role.TANK;
const topHealing = parsedData.top_players_by_role.HEALING;

const CLASS_COLORS = {
    "Death Knight": "#C41F3B",
    "Demon Hunter": "#A330C9",
    Druid: "#FF7D0A",
    Hunter: "#ABD473",
    Mage: "#69CCF0",
    Monk: "#00FF96",
    Paladin: "#F58CBA",
    Priest: "#FFFFFF",
    Rogue: "#FFF569",
    Shaman: "#0070DE",
    Warlock: "#8787ED",
    Warrior: "#C79C6E",
};

const ROLE_COLORS = {
    DPS: "red",
    TANK: "blue",
    HEALING: "green",
};

const updatedAt = new Date(guildRoster.updatedAt).toLocaleString("en-US", {
    timeZone: "America/New_York",
});
const previousDateString = new Date(
    previousGuildRoster.updatedAt,
).toLocaleDateString("en-US", {
    timeZone: "America/New_York",
});
const currentDateString = new Date(guildRoster.updatedAt).toLocaleDateString(
    "en-US",
    {
        timeZone: "America/New_York",
    },
);
---

<Tabs defaultValue="gains" class="flex flex-col justify-center
items-center">
    <TabsList class="gap-8 bg-card-bg text-body-text">
        <TabsTrigger value="gains">Rating Gains</TabsTrigger>
        <TabsTrigger value="top">Top Players</TabsTrigger>
        <TabsTrigger value="top-tanks">Top Tanks</TabsTrigger>
        <TabsTrigger value="top-healing">Top Healers</TabsTrigger>
        <TabsTrigger value="top-dps">Top DPS</TabsTrigger>
    </TabsList>
    <TabsContent value="gains">
        <div class="flex flex-col items-center">
            <div class="flex flex-col items-center justify-center gap-4 mt-8">
                <h3
                    class="text-5xl font-header font-bold text-legendary-accent"
                >
                    Highest Rating Gains (Weekly)
                </h3>
                <p class="text-text-muted text-sm text-center">
                    {previousDateString} - {currentDateString}
                </p>
                <div class="flex items-center justify-center gap-8 mt-8">
                    {
                        parsedData.top_weekly_players.map((player) => (
                            <div class="flex flex-col items-center justify-center mx-8">
                                <span
                                    style={{
                                        color: getClassColor(player.player),
                                    }}
                                    class="text-3xl"
                                >
                                    {player.player}
                                </span>
                                <span class="text-lg">
                                    +{player.ratingChange}
                                </span>
                            </div>
                        ))
                    }
                </div>
            </div>
        </div>
    </TabsContent>
    <TabsContent value="top">
        <div class="flex flex-col items-center">
            <div class="flex flex-col items-center justify-center gap-4 mt-8">
                <h3
                    class="text-5xl font-header font-bold text-legendary-accent"
                >
                    Top Players by Score
                </h3>
                <div class="flex items-center justify-center gap-8 mt-8">
                    {
                        parsedData.top_players_by_score.map((player) => (
                            <div class="flex flex-col items-center justify-center mx-8">
                                <span
                                    style={{
                                        color: getClassColor(player.player),
                                    }}
                                    class="text-3xl"
                                >
                                    {player.player}
                                </span>
                                <span class="text-lg">{player.score}</span>
                            </div>
                        ))
                    }
                </div>
            </div>
        </div>
    </TabsContent>
    <TabsContent value="top-tanks">
        <div class="flex flex-col items-center">
            <div class="flex flex-col items-center justify-center gap-4 mt-8">
                <h3
                    class="text-5xl font-header font-bold text-legendary-accent"
                >
                    Top Tanks
                </h3>
                <div class="flex items-center justify-center gap-8 mt-8">
                    {
                        topTanks.map((player) => (
                            <div class="flex flex-col items-center justify-center mx-8">
                                <span
                                    style={{
                                        color: getClassColor(player.player),
                                    }}
                                    class="text-3xl"
                                >
                                    {player.player}
                                </span>
                                <span class="text-lg">{player.score}</span>
                            </div>
                        ))
                    }
                </div>
            </div>
        </div>
    </TabsContent>
    <TabsContent value="top-healing">
        <div class="flex flex-col items-center">
            <div class="flex flex-col items-center justify-center gap-4 mt-8">
                <h3
                    class="text-5xl font-header font-bold text-legendary-accent"
                >
                    Top Healers
                </h3>
                <div class="flex items-center justify-center gap-8 mt-8">
                    {
                        topHealing.map((player) => (
                            <div class="flex flex-col items-center justify-center mx-8">
                                <span
                                    style={{
                                        color: getClassColor(player.player),
                                    }}
                                    class="text-3xl"
                                >
                                    {player.player}
                                </span>
                                <span class="text-lg">{player.score}</span>
                            </div>
                        ))
                    }
                </div>
            </div>
        </div>
    </TabsContent>
    <TabsContent value="top-dps">
        <div class="flex flex-col items-center">
            <div class="flex flex-col items-center justify-center gap-4 mt-8">
                <h3
                    class="text-5xl font-header font-bold text-legendary-accent"
                >
                    Top DPS
                </h3>
                <div class="flex items-center justify-center gap-8 mt-8">
                    {
                        topDps.map((player) => (
                            <div class="flex flex-col items-center justify-center mx-8">
                                <span
                                    style={{
                                        color: getClassColor(player.player),
                                    }}
                                    class="text-3xl"
                                >
                                    {player.player}
                                </span>
                                <span class="text-lg">{player.score}</span>
                            </div>
                        ))
                    }
                </div>
            </div>
        </div>
    </TabsContent>
</Tabs>
<div class="roster-table mt-16">
    <Table class="max-w-5xl mx-auto mt-8">
        <TableCaption>
            <div class="flex items-center justify-between">
                <p>
                    Updated: {updatedAt} EST
                </p>
                <p>
                    Data provided by <a
                        href="https://raider.io"
                        class="text-legendary-accent">Raider.IO</a
                    >
                </p>
            </div>
        </TableCaption>
        <TableHeader>
            <TableRow class="border-border-accent hover:bg-legendary-accent/10">
                <TableHead
                    id="name-header"
                    data-direction="desc"
                    data-sort-key="name"
                    class="text-body-text">Name</TableHead
                >
                <TableHead
                    id="spec-header"
                    data-direction="desc"
                    data-sort-key="active_spec_name"
                    class="text-body-text">Spec</TableHead
                >
                <TableHead
                    id="role-header"
                    data-direction="desc"
                    data-sort-key="active_spec_role"
                    class="text-body-text">Role</TableHead
                >
                <TableHead
                    id="score-header"
                    data-direction="desc"
                    data-sort-key="mythic_plus_score"
                    class="text-body-text">Score</TableHead
                >
            </TableRow>
        </TableHeader>
        <TableBody>
            {
                guildRoster.members
                    .filter(
                        (member) =>
                            member.mythic_plus_scores_by_season[0].scores
                                .all !== 0,
                    )
                    .map((member) => (
                        <TableRow class="border-border-accent hover:bg-body-text/10">
                            <TableCell>
                                <span
                                    style={{
                                        color: CLASS_COLORS[member.class],
                                    }}
                                >
                                    {member.name}
                                </span>
                            </TableCell>
                            <TableCell>{member.active_spec_name}</TableCell>
                            <TableCell>
                                <span style={{ color: getRoleColor(member) }}>
                                    {member.active_spec_role}
                                </span>
                            </TableCell>
                            <TableCell>
                                {
                                    member.mythic_plus_scores_by_season[0]
                                        .scores.all
                                }
                            </TableCell>
                        </TableRow>
                    ))
            }
        </TableBody>
        <TableFoot class="bg-card-bg border-border-accent text-body-text">
            <TableRow class="border-border-accent hover:bg-transparent">
                <TableCell colspan="5">
                    Total: {guildRoster.members.length} characters
                </TableCell>
            </TableRow>
        </TableFoot>
    </Table>
</div>
<script>
    document.addEventListener("astro:page-load", () => {
        document.querySelectorAll("[data-sort-key]").forEach((header) => {
            header.addEventListener("click", () => {
                const column = header.dataset.sortKey;
                sortTable(column);
            });
        });
    });

    function sortTable(column) {
        const headers = document.querySelectorAll("[data-sort-key]");
        const headersArray = Array.from(headers);

        headersArray.forEach((head, index) => {
            if (head.dataset.sortKey === column) {
                const rows = document.querySelectorAll("tbody tr");
                const values = Array.from(rows).map((row) => {
                    return {
                        row: row,
                        value: row.children[index].textContent,
                    };
                });

                if (head.dataset.direction === "asc") {
                    console.log(column);
                    console.log(head.dataset.direction);
                    const sortedValues = values.sort((a, b) => {
                        if (head.dataset.sortKey === "mythic_plus_score") {
                            return b.value - a.value;
                        } else {
                            return b.value.localeCompare(a.value);
                        }
                    });

                    const tbody = document.querySelector("tbody");
                    sortedValues.forEach((item) => {
                        tbody.appendChild(item.row);
                        head.dataset.direction = "desc";
                    });
                } else {
                    const sortedValues = values.sort((a, b) => {
                        if (head.dataset.sortKey === "mythic_plus_score") {
                            return a.value - b.value;
                        } else {
                            return a.value.localeCompare(b.value);
                        }
                    });

                    const tbody = document.querySelector("tbody");
                    sortedValues.forEach((item) => {
                        tbody.appendChild(item.row);
                        head.dataset.direction = "asc";
                    });
                }
            }
        });
    }
</script>
