---
import {
    Table,
    TableHeader,
    TableHead,
    TableBody,
    TableRow,
    TableCell,
    TableCaption,
    TableFoot,
} from "@/components/starwind/table";

import guildRoster from "../data/guild-roster.json";
const updatedAt = new Date(guildRoster.updatedAt).toLocaleString("en-US", {
    timeZone: "America/New_York",
});
---

<div class="roster-table">
    <p class="text-text-muted text-sm text-center">
        Updated: {updatedAt} EST
    </p>
    <Table class="max-w-5xl mx-auto mt-12">
        <TableCaption>
            Data provided by{" "}
            <a href="https://raider.io" class="text-legendary-accent">
                Raider.IO
            </a>
        </TableCaption>
        <TableHeader>
            <TableRow>
                <TableHead
                    id="name-header"
                    data-direction="desc"
                    data-sort-key="name">Name</TableHead
                >
                <TableHead
                    id="class-header"
                    data-direction="desc"
                    data-sort-key="playerClass">Class</TableHead
                >
                <TableHead
                    id="spec-header"
                    data-direction="desc"
                    data-sort-key="active_spec_name">Spec</TableHead
                >
                <TableHead
                    id="role-header"
                    data-direction="desc"
                    data-sort-key="active_spec_role">Role</TableHead
                >
                <TableHead
                    id="score-header"
                    data-direction="desc"
                    data-sort-key="mythic_plus_score">Score</TableHead
                >
            </TableRow>
        </TableHeader>
        <TableBody>
            {
                guildRoster.members
                    .filter(
                        (member) =>
                            member.mythic_plus_scores_by_season[0].scores
                                .all !== 0,
                    )
                    .map((member) => (
                        <TableRow>
                            <TableCell>{member.name}</TableCell>
                            <TableCell>{member.class}</TableCell>
                            <TableCell>{member.active_spec_name}</TableCell>
                            <TableCell>{member.active_spec_role}</TableCell>
                            <TableCell>
                                {
                                    member.mythic_plus_scores_by_season[0]
                                        .scores.all
                                }
                            </TableCell>
                        </TableRow>
                    ))
            }
        </TableBody>
        <TableFoot>
            <TableRow>
                <TableCell colSpan="5">
                    Total: {guildRoster.members.length} characters
                </TableCell>
            </TableRow>
        </TableFoot>
    </Table>
</div>
<script>
    document.addEventListener("astro:page-load", () => {
        document.querySelectorAll("[data-sort-key]").forEach((header) => {
            header.addEventListener("click", () => {
                const column = header.dataset.sortKey;
                sortTable(column);
            });
        });
    });

    function sortTable(column) {
        const headers = document.querySelectorAll("[data-sort-key]");
        const headersArray = Array.from(headers);

        headersArray.forEach((head, index) => {
            if (head.dataset.sortKey === column) {
                const rows = document.querySelectorAll("tbody tr");
                const values = Array.from(rows).map((row) => {
                    return {
                        row: row,
                        value: row.children[index].textContent,
                    };
                });

                if (head.dataset.direction === "asc") {
                    console.log(column);
                    console.log(head.dataset.direction);
                    const sortedValues = values.sort((a, b) => {
                        if (head.dataset.sortKey === "mythic_plus_score") {
                            return b.value - a.value;
                        } else {
                            return b.value.localeCompare(a.value);
                        }
                    });

                    const tbody = document.querySelector("tbody");
                    sortedValues.forEach((item) => {
                        tbody.appendChild(item.row);
                        head.dataset.direction = "desc";
                    });
                } else {
                    const sortedValues = values.sort((a, b) => {
                        if (head.dataset.sortKey === "mythic_plus_score") {
                            return a.value - b.value;
                        } else {
                            return a.value.localeCompare(b.value);
                        }
                    });

                    const tbody = document.querySelector("tbody");
                    sortedValues.forEach((item) => {
                        tbody.appendChild(item.row);
                        head.dataset.direction = "asc";
                    });
                }
            }
        });
    }
</script>
